.usf_logoheads
{
    text-align: center !important;
    justify-content: center !important;
    border: none;
}

body
{
    background-color: #000000 !important;
}

.card-title
{
    font-family: 'Josefin Sans', sans-serif !important;
}

.card-text
{
    font-size: 15px !important;
    font-family: 'Josefin Sans', sans-serif !important;
}

#bwngj
{
    padding-top: 4px !important;
    padding-left: 5px !important;
    padding-right: 5px !important;
}

.noselect
{
    -webkit-touch-callout: none;
      -webkit-user-select: none;
       -khtml-user-select: none;
         -moz-user-select: none;
          -ms-user-select: none;
              user-select: none;
}

#grne
{
    border: 2px solid #33FF58 !important;
}

#tvCategoryHere { display: none; }

.loadmoretvv {
    background-color: green;
    font-weight: bold;
    border: none;
}