body
{
    background-color: #262728 !important;
    color: #FFFFFF !important;
}
.modal-content
{
    color: #FFFFFF !important;
    background-color: #000000 !important;
}
#oalert, #o9814cfkqa0fP
{
    display: none;
    font-weight: bold;
}
.navbar
{
    color: #000000;
    padding-left: 12px;
    font-weight: bold;
    font-size: 15px;
}
#vjeqbo9328
{
    margin-top: 5px;
}
#logoutsxs
{
    color: #DFFF13;
    font-weight: bold;
    font-size: 13px;
}
#weladcome
{
    color: #FF1313;
}
.Yazody
{
    margin-top: 20px;
    margin-right: 12px;
    margin-left: 12px;
    background-color: #262728 !important;
}
.card-body
{
    
    background-color: #000000 !important;
}
.card
{
    border: none !important;
}
#procexxA
{
    font-weight: bold;
}
#vw8viubpwi
{
    color: #FB89AB;
}
#ea130c0e
{
    font-weight: bold;
}
#h8sdre9h82g409
{
    color: #FFE333;
    font-weight: bold;
}
#cwi92j4cpazm0e
{
    font-weight: bold;
}